/*

My Custom CSS
=============

Author:  Oleksandr Green
Updated: January 2016
Notes:	 For my education Bootstrap4

*/

html, body {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: #6c6f73;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
}

h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
}

img {
    max-width: 100%;
}

/* Stage */
#stage {
    background: url('../img/stage.jpg') top center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight:200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1, p{
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}

/* Feature */
#feature-one h2 {
    color: #333;
}

.feature-content {
    padding: 8rem 0;
    overflow: hidden;
    /*align-items: center;*/
    color: black;
}

.feature-content p{
    color: #6c6f73;
    text-transform: none;
    font-weight: normal;
}

.feature-content img {
    margin-bottom: -8rem;
}

.feature-dark {
    background: #262F36;
    color: white;
}

.feature-dark h6, h2 {
    color: white;
}

#feature-three h2 {
    color: #333;
}

#feature-seven h2 {
    color: #333;
}

/* Blockquote */
.blockquote {
    font-size: 1.6rem;
    color: #333;
    border:none;
    padding: 0;
}

.blockquote-footer {
    margin: 1rem 0 0;
}

.feature-alt {
    background: #f0f0f0;
}

#feature-four .feature-content {
    padding: 0;
    align-items: center;
}
#feature-five img {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.feature-full h2 {
    color: #333;
}

/* Footer */
#footer-main {
    background: #262F36;
    color: white;
    padding: 6rem 0;
    font-size: 0.8rem;
}

#footer-main h6 {
    color: #718FA9;
}

#footer-main a {
    color: #6C6F73;
}

/* Media Querys */

@media screen and (min-width: 991px) {
    .feature-content {
        display: flex;
        align-item: center;
    }
}


